<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .color {
        color: yellow;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <fruit-list :list="list">
        <template v-slot:id>
          <ul>
            <li v-if="index==2" v-for="(item,index) in list">
              {{item.id +"----" + item.name}}
            </li>
          </ul>
        </template>
      </fruit-list>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    Vue.component("fruit-list", {
      props: ["list"],
      render: function (createElment) {
        var id = this.$slots.id;
        var name = this.$slots.name;
        console.log(id);
        console.log(name);
        return createElment("div", [createElment("main", id)]);
      },
    });
    let app = new Vue({
      el: "#app",
      data: {
        list: [
          {
            id: 1,
            name: "apple",
          },
          {
            id: 2,
            name: "orange",
          },
          {
            id: 3,
            name: "banana",
          },
        ],
      },
    });
  </script>
</html>
